<div class="available-colours">
  <h4 class="available-colours__title">
    {{#if variant_name}}
      {{variant_name}} colour options
    {{else}}
      Colour options
    {{/if}}
  </h4>
  <ul class="available-colours__swatches">
    {{#each colours}}
      <li class="available-colours__swatch available-colours__swatch--{{slugify this}}">
        <span>{{@key}}</span>
      </li>
    {{/each}}
  </ul>
</div>
