$swatch_diameter: 18px;
$border_width: 1px;

.available-colours {
  float: none; // for some reason all <divs> are floated? this makes life difficult.

  // this shouldn't really be nested, but neccessary to override
  // `.samsung-mobile-microsite h[X]` selector
  .available-colours__title {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.available-colours__swatches {
  margin: 20px 0;
  padding: 0;
}

.available-colours__swatch {
  display: inline-block;
  height: $swatch_diameter;
  width: $swatch_diameter;
  margin-right: 4px;
  border-radius: 50%;

  span {
    // hide the label from display, but not screenreaders
    @extend .visuallyhidden;
  }
}

.available-colours__swatch--bordered {
  height: $swatch_diameter - (2 * $border_width);
  width: $swatch_diameter - (2 * $border_width);
  border: $border_width solid #aaa;
}
