.nav,
.nav.sticky-nav { // .sticky-nav is a multi-page thing that we don't want
  position: relative !important;
  width: 100% !important;
  margin: 0 !important;
  background: #e6e6e6 !important;
}

.nav__menu {
  margin: 0 !important;
  list-style: none;
}

.nav__item {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0 !important;

  &:last-child .nav__link {
    border-right: none;
    min-width: 175px;
  }
}

.nav__link {
  display: block;
  min-width: 171px;
  padding: 8px !important;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  outline: 0;
  background: linear-gradient(to bottom, #0076d5 40%, #005796 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076d5', endColorstr='#005796', GradientType=0); // IE 9 fallback
  border-right: 1px solid #7E7E7E;

  // can't have BEM name as this class is part of multi-page framework
  &.active {
    background: linear-gradient(to bottom, #f1f1f1 0%, #e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e1e1e1',GradientType=0); // IE 9 fallback
    color: #0071cb !important;
  }
}

.nav__link--icon {
  min-width: 30px;
}
