<div class="galaxy-accessories grid_25 alpha omega">

  {{partial 'page-lead' galaxy-accessories.lead}}

  {{#each galaxy-accessories.products}}
    {{partial 'product' this}}
  {{/each}}

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {
  // fade-in content management
  // head.load(prefixURL + "css/fade-in.css");
  // head.load(prefixURL + "js/fade-in.js", function() {
  //   assignFadeIn('.fade-in');
  // });
}

</script>
