<div class="galaxy-gear">

  <img style="display:block; position:absolute; z-index:999999; margin-top:50px; margin-left:60px;" alt="" src="images/samsung-logo-new.png"/>
  <div class="grid_25 alpha omega promoBG" style="background-color:#e2e2e2; height:500px;">
    <div class="grid_12 push_1" style="position:relative; top:110px;">
      <h1 class="block">Accessories</h1>
      <h2 style=" font-weight:normal; color:#0E4194;">Premium accessories to match your<br>Samsung handset, tablet or smartwatch.</h2>
    </div>
    <div class="grid_11 pull_2" style="position:relative; top:50px;">
      <img class="block" src="images/galaxy-accessories/accessories.png" alt=""/>
    </div>
  </div>

  <div class="grid_25 fade-in alpha omega products">

    <div class="grid_25 section">
      <div class="grid_11 push_1" style="position:relative; margin:60px 0; margin-left:15px;">
        <h1 class="block">Samsung Galaxy S5 Flip Wallet</h1>
        <h2 style="color:#0E4194; display:inline-block; height:20px;">Premium leather design</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Store a card such as a credit card in the useful card pocket</span></li>
          <li><span class="bullet--margin">Express your style with a range of colours to choose from</span></li>
          <li><span class="bullet--margin">Get a great look with classic style and premium materials</span></li>
          <li><span class="bullet--margin">Switch the screen on or off by opening or closing the case</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="teal"><span>Teal</span></li>
            <li class="white"><span>White</span></li>
            <li class="pink"><span>Pink</span></li>
            <li class="brown"><span>Brown</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=S5%20FLIP%20WALLETS&flPackageOnly=0&idCategory=8051"><span class="sbBtn">Find out more</span></a>
      </div>
      <div class="grid_12 push_1" style="position:relative; left:50px; top:60px;">
        <img class="block" src="images/galaxy-accessories/s5FlipWallet.png" alt=""/>
      </div>
    </div>

    <div class="grid_25 section " style="background-color:#f1f1f1;">
      <div class="grid_12 push_1" style="position:relative; margin:60px 0;">
        <img class="block" src="images/galaxy-accessories/s5sViewCover.png" alt="" />
      </div>
      <div class="grid_11 push_1" style="position:relative; top:20px;">
        <h1 class="block">Samsung Galaxy S5 S View Cover</h1>
        <h2 style="color:#0E4194;">Stunning looks, perfect touches</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Get a secure grip and a great look with a choice of colours</span></li>
          <li><span class="bullet--margin">Access vital phone functions without opening the case</span></li>
          <li><span class="bullet--margin">Use the camera quickly with just one swipe of your finger</span></li>
          <li><span class="bullet--margin">Make sure your Galaxy S5's water resistance is maintained</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
            <li class="indianred"><span>Red</span></li>
            <li class="teal"><span>Teal</span></li>
            <li class="lightpink"><span>Pink</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=EF-CG900&flPackageOnly=0&idCategory=8051"><span class="sbBtn">Find out more</span></a>
      </div>
    </div>

    <div class="grid_25 section">
      <div class="grid_11 push_1" style="position:relative; margin:60px 0; margin-left:15px;">
        <h1 class="block">Samsung Galaxy S4 S View Premium Cover</h1>
        <h2 style="color:#0E4194; display:inline-block; height:40px;">Better protection and greater convenience</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Design developed specially for Galaxy S4</span></li>
          <li><span class="bullet--margin">Answer a call with the cover closed simply by swiping it</span></li>
          <li><span class="bullet--margin">See the time, missed calls and more with the case closed</span></li>
          <li><span class="bullet--margin">Just open the case and the screen comes on automatically</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
            <li class="turqouise"><span>Turqouise</span></li>
            <li class="dodgerblue"><span>Blue</span></li>
            <li class="yellow"><span>Yellow</span></li>
            <li class="deeppink"><span>Pink</span></li>
            <li class="olivegreen"><span>Green</span></li>
            <li class="orange"><span>Orange</span></li>
            <li class="brown"><span>Brown</span></li>
            <li class="purple"><span>Purple</span></li>
            <li class="darkred"><span>Red</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=s4%20view%20cover&flPackageOnly=0&idCategory=8051a"><span class="sbBtn">Find out more</span></a>
      </div>
      <div class="grid_12 push_1" style="position:relative; left:50px; top:60px;">
        <img class="block" src="images/galaxy-accessories/s4SViewPremiumCover.png" alt=""/>
      </div>
    </div>

    <div class="grid_25 section " style="background-color:#f1f1f1;">
      <div class="grid_12 push_1" style="position:relative; margin:60px 0;">
        <img class="block" src="images/galaxy-accessories/s4MiniSViewPremiumCover.png" alt=""/>
      </div>
      <div class="grid_11 push_1" style="position:relative; top:20px;">
        <h1 class="block">Samsung Galaxy S4 Mini S View Premium Cover</h1>
        <h2 style="color:#0E4194;">Custom design</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Design developed specially for Galaxy S4 Mini</span></li>
          <li><span class="bullet--margin">Answer a call with the cover closed simply by swiping it</span></li>
          <li><span class="bullet--margin">See the time, missed calls and more with the case closed</span></li>
          <li><span class="bullet--margin">Just open the case and the screen comes on automatically</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=s4%20mini%20view%20cover&flPackageOnly=0&aidCategory=8051"><span class="sbBtn">Find out more</span></a>
      </div>
    </div>

    <div class="grid_25 section">
      <div class="grid_11 push_1" style="position:relative; margin:60px 0; margin-left:15px;">
        <h1 class="block">Samsung Galaxy Gear Charging Dock</h1>
        <h2 style="color:#0E4194; display:inline-block; height:20px;">Compact and portable</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Dock your Galaxy Gear and charge the battery</span></li>
          <li><span class="bullet--margin">Charge from your PC or other USB-compatible device</span></li>
          <li><span class="bullet--margin">Pair your Gear with your mobile device using NFC</span></li>
          <li><span class="bullet--margin">Take the ultraportable charging dock wherever you go</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=Galaxy%20Gear&idManufacturer=2795&flPackageOnly=0&idCategory=8040"><span class="sbBtn">Find out more</span></a>
      </div>
      <div class="grid_12 push_1" style="position:relative; left:50px; top:60px;">
        <img class="block" src="images/galaxy-accessories/SGearChargingDock.png" alt=""/>
      </div>
    </div>

    <div class="grid_25 section " style="background-color:#f1f1f1;">
      <div class="grid_12 push_1" style="position:relative; margin:60px 0;">
        <img class="block" src="images/galaxy-accessories/GearBasicStrap.png" alt=""/>
      </div>
      <div class="grid_11 push_1" style="position:relative; top:20px;">
        <h1 class="block">Samsung Gear 2/Neo Basic Strap</h1>
        <h2 style="color:#0E4194;">Stylish Modern design strap</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Choose from a range of attractive colour options</span></li>
          <li><span class="bullet--margin">Stay stylish and comfortable thanks to a great look and feel</span></li>
          <li><span class="bullet--margin">Change straps easily to match your outfit and style</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="darkgrey"><span>Grey</span></li>
            <li class="redorange"><span>Orange</span></li>
            <li class="brown"><span>Brown</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=neo%20strap&flPackageOnly=0&idCategory=8040"><span class="sbBtn">Find out more</span></a>
      </div>
    </div>

    <div class="grid_25 section">
      <div class="grid_11 push_1" style="position:relative; margin:60px 0; margin-left:15px;">
        <h1 class="block">Samsung Note Pro 12.2 & Tab Pro 12.2 Book Cover</h1>
        <h2 style="color:#0E4194; display:inline-block; height:20px;">Slim and lightweight</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Slim and Lightweight Design</span></li>
          <li><span class="bullet--margin">Premium Material</span></li>
          <li><span class="bullet--margin">Wakes and Turns off Device Screen</span></li>
          <li><span class="bullet--margin">Two Viewing Positions: Landscape or Typing Mode</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=12.2%20book%20cover&flPackageOnly=0&idCategory=4649"><span class="sbBtn">Find out more</span></a>
      </div>
      <div class="grid_12" style="position:relative; top:60px;">
        <img class="block" src="images/galaxy-accessories/SNotePro12BookCover.png" alt=""/>
      </div>
    </div>

    <div class="grid_25 section " style="background-color:#f1f1f1;">
      <div class="grid_12" style="position:relative; margin:60px 0;">
        <img class="block" style="margin-left:40px;" src="images/galaxy-accessories/SNote3SViewCover.png" alt=""/>
      </div>
      <div class="grid_11 push_1" style="position:relative; top:20px;">
        <h1 class="block">Samsung Galaxy Note 3 S-View Cover</h1>
        <h2 style="color:#0E4194; display:inline-block; height:40px;">More functions without opening the cover</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Protect your Galaxy Note 3 and stay stylish on the go</span></li>
          <li><span class="bullet--margin">Check and operate your Note 3 with the cover closed</span></li>
          <li><span class="bullet--margin">Match your background and cover colour automatically</span></li>
          <li><span class="bullet--margin">Keep your device thin by simply replacing the battery cover</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
            <li class="orange"><span>Orange</span></li>
            <li class="lightpink"><span>Pink</span></li>
            <li class="ivory"><span>Ivory</span></li>
            <li class="midnightblue"><span>Blue</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=EF-CN900&flPackageOnly=0&idCategory=8051"><span class="sbBtn">Find out more</span></a>
      </div>
    </div>

    <div class="grid_25 section">
      <div class="grid_11 push_1" style="position:relative; margin:60px 0; margin-left:15px;">
        <h1 class="block">Samsung Galaxy Note 3 Classic Wallet Cover</h1>
        <h2 style="color:#0E4194; display:inline-block; height:20px;">Stylish Colours & Custom Design</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Enjoy high-quality design and a range of colour options</span></li>
          <li><span class="bullet--margin">Protect the screen of your Note 3 from scratches and smudges</span></li>
          <li><span class="bullet--margin">Store your bank card in the wallet's useful card slot</span></li>
          <li><span class="bullet--margin">Keep your device thin by simply replacing the battery cover</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
            <li class="lightpink"><span>Pink</span></li>
            <li class="orange"><span>Orange</span></li>
            <li class="skyblue"><span>Sky blue</span></li>
            <li class="ivory"><span>Ivory</span></li>
            <li class="royalblue"><span>Blue</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=note%203%20wallet%20cover&flPackageOnly=0&idCategory=8051"><span class="sbBtn">Find out more</span></a>
      </div>
      <div class="grid_12 push_1" style="position:relative; left:50px; top:60px;">
        <img class="block" src="images/galaxy-accessories/sNote3ClassicWallet.png" alt=""/>
      </div>
    </div>

    <div class="grid_25 section " style="background-color:#f1f1f1;">
      <div class="grid_12" style="position:relative; margin:60px 0;">
        <img class="block" src="images/galaxy-accessories/SNotePro10BookCover.png" alt=""/>
      </div>
      <div class="grid_11 push_1" style="position:relative; top:20px;">
        <h1 class="block">Samsung Galaxy Note 10.1" Book Cover Case</h1>
        <h2 style="color:#0E4194; display:inline-block; height:40px;">Simply convert it into a stand for easy viewing</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Choose from a range of attractive colour options</span></li>
          <li><span class="bullet--margin">Stay stylish and comfortable thanks to a great look and feel</span></li>
          <li><span class="bullet--margin">Change straps easily to match your outfit and style</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=note%2010.1%20book%20cover&flPackageOnly=0&idCategory=8051"><span class="sbBtn">Find out more</span></a>
      </div>
    </div>

    <div class="grid_25 section">
      <div class="grid_11 push_1" style="position:relative; margin:60px 0; margin-left:15px;">
        <h1 class="block">Samsung Tab 3 10.1" Book Cover Case</h1>
        <h2 style="color:#0E4194; display:inline-block; height:40px;">Simply convert it into a stand for easy viewing</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Be mobile thanks to slim and lightweight design</span></li>
          <li><span class="bullet--margin">Convert it into a stand for easy viewing or typing</span></li>
          <li><span class="bullet--margin">Stay stylish on the move with an elegant look</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="black"><span>Black</span></li>
            <li class="white"><span>White</span></li>
            <li class="brown"><span>Brown</span></li>
            <li class="royalblue"><span>Blue</span></li>
            <li class="darkred"><span>Red</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=galaxy%20tab%203%2010.1%20book%20cover&flPackageOnly=0&idCategory=4649"><span class="sbBtn">Find out more</span></a>
      </div>
      <div class="grid_12" style="position:relative; left:50px; top:60px;">
        <img class="block" src="images/galaxy-accessories/STab310BookCover.png" alt=""/>
      </div>
    </div>

    <div class="grid_25 section" style="background-color:#f1f1f1;">
      <div class="grid_12" style="position:relative; margin:60px 0;">
        <img class="block" src="images/galaxy-accessories/SNote8BookCover.png" alt=""/>
      </div>
      <div class="grid_11 push_1" style="position:relative; top:20px;">
        <h1 class="block">Samsung Note 8 Book Cover</h1>
        <h2 style="color:#0E4194;">Express yourself</h2>
        <ul class="products-list">
          <li><span class="bullet--margin">Use a case designed specifically for the Note 8.0</span></li>
          <li><span class="bullet--margin">Simply convert it into a stand for easy viewing</span></li>
          <li><span class="bullet--margin">Express yourself with a range of colour options</span></li>
          <li><span class="bullet--margin">Access connections and S Pen via convenient slots</span></li>
        </ul>
        <div class="available-colours">
          <h3 class="available-colours__title">Colour Options</h3>
          <ul class="available-colours__swatches">
            <li class="grey"><span>Grey</span></li>
            <li class="white"><span>White</span></li>
            <li class="pink"><span>Pink</span></li>
            <li class="red"><span>Red</span></li>
            <li class="olivegreen"><span>Green</span></li>
          </ul>
        </div>
        <a href="http://www.exertismicro-p.co.uk/catalogue/catProductList.asp?nmOrderBy=1&ttKeyword=note%208%20book%20cover&flPackageOnly=0&idCategory=8051"><span class="sbBtn">Find out more</span></a>
      </div>
    </div>

  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {

  // modal content management
  head.load(prefixURL + "css/modal.css");
  head.load(prefixURL + "js/fancybox/jquery.fancybox-1.3.4.css");
  head.load(prefixURL + "js/fancybox/jquery.fancybox-1.3.4.js");
  head.load(prefixURL + "js/modal.js", function() {
    assignModal('.ajax-fancybox');
  });

  // fade-in content management
  head.load(prefixURL + "css/fade-in.css");
  head.load(prefixURL + "js/fade-in.js", function() {
    assignFadeIn('.fade-in');
  });

}

</script>
