<div class="galaxy-collection grid_25 alpha omega">

  {{partial 'page-lead' galaxy-collection.lead}}

  {{#each galaxy-collection.products}}
    {{partial 'product' this}}
  {{/each}}

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {
  // performance optimised fade in for products as user scrolls
  head.load(prefixURL + "js/scrolling-reveal.jquery.js", function() {
    $('.js-scrolling-reveal').scrollingReveal();
  });
}

</script>
